@font-face {
    font-family: 'moriaregular';
    src: url('moria_df-webfont-webfont.woff2') format('woff2'),
         url('moria_df-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}